<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Meu Projeto Flask{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block extra_head %}{% endblock %}
</head>
<body>
  <header>
    <h1>Secretaria - E.M José Padin Mouta</h1>
  </header>
  <main>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div id="flash-messages">
          {% for category, message in messages %}
            <div class="alert alert-{{ 'success' if category=='success' else 'info' }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>
  <footer>
    Desenvolvido por Nilson Cruz © 2025. Todos os direitos reservados.
  </footer>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  {% block extra_scripts %}{% endblock %}
</body>
</html>
